extends layout

block content

    div(class="header") 管理メニュー

    div(class="menu")
        div
            button(class="ui-button ui-wisget ui-corner-all" onclick="buttonClick('#{user}')") ユーザ管理
        div
            button(class="ui-button ui-wisget ui-corner-all" onclick="buttonClick('#{task}')") タスク管理
