extends layout

block content

    div(class="header") タスクリスト

    form(method="POST", action="/task/add", id="inputForm")
        table
            tr
                th
                th(class="item") name
                th(class="item") task
            tr
                th
                    input(type="submit", value="追加",)
                td
                    select(name="name", id="name", style="width: 100%")
                        each val in persons
                            option(value="#{val.name}") #{val.name}
                td
                    input(type="text", name="task", id="task")
    p
    form(method="POST", action="/task/del", id="deleteForm")
        table
            thead
                tr
                    th
                        input(type="submit", value="削除")
                    th(class="item") name
                    th(class="item") task
            tbody
                each val in tasks
                    tr
                        th
                            input(type="checkbox", name="_id", value="#{val._id}")
                        td= val.name
                        td= val.task
    p
    a(href="#{main}") Back
